<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806251562450-0m681pnomdlfnqfn8q9kofiph4c9fj0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806251562450-0m681pnomdlfnqfn8q9kofiph4c9fj0j</string>
	<key>API_KEY</key>
	<string>AIzaSyDqrJrb0SZ1DwjKuw7xZ8me9zC-gbjCWEU</string>
	<key>GCM_SENDER_ID</key>
	<string>806251562450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listitapp</string>
	<key>PROJECT_ID</key>
	<string>list-it-4dc79</string>
	<key>STORAGE_BUCKET</key>
	<string>list-it-4dc79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806251562450:ios:c4dd86a7e4621eb587740b</string>
</dict>
</plist>